# MacOS
.DS_Store

# Documentation & Personal FYP files
*.pdf
*.txt
*.dmg
Gemini.md
.agent/
strucutreForOwnUnderstanding
temp.rtf

# Web & IDE
node_modules/
.env
.vscode/

# Python Cache
__pycache__/
*.pyc

# ROS 2 build files
lidarbot_ws/build/
lidarbot_ws/install/
lidarbot_ws/log/

# Python Virtual Environments
venv/
.venv/
