[submodule "docs/research/osm-AG/area_graph_1/area_graph_repo"]
    path = docs/research/osm-AG/area_graph_1/area_graph_repo
    url = https://github.com/abdulrahimzulfiqar/areaGraph.git

[submodule "docs/research/osm-AG/osm_ag_2/osm_ag_repo"]
    path = docs/research/osm-AG/osm_ag_2/osm_ag_repo
    url = https://github.com/abdulrahimzulfiqar/osmAG.git
