# MacOS
.DS_Store

# Documentation & Personal FYP files
*.pdf
!docs/research/**/*.pdf
*.txt
*.dmg
Gemini.md
.agent/
strucutreForOwnUnderstanding
temp.rtf

# Web & IDE
node_modules/
.env
.vscode/

# Python Cache
__pycache__/
*.pyc

# ROS 2 & C++ CMake build files
lidarbot_ws/build/
lidarbot_ws/install/
lidarbot_ws/log/
**/build/
**/bin/
*.o
*.a
*.so
*.dylib
CMakeCache.txt
CMakeFiles/

# Python Virtual Environments
venv/
.venv/
